.testimonials {
  margin-left: auto;
  margin-right: auto;
	max-width: 632px;
  width: 100%;
  padding: 0 16px;
}

.container.testimonials__container{
  margin-right: 40px;
}

.testimonial {
  box-sizing: border-box;
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.testimonials__title {
	margin-bottom: 48px;
	text-align: center;
	color: var(--color-primary);
	font-size: 24px;
	font-weight: 500;
}

.testimonial__avatar {
	width: 64px;
	aspect-ratio: 1/1;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto 16px;
	border: 5px solid var(--color-primary-variant);
}

.testimonial__name {
	display: flex;
	justify-content: center;
}


.testimonial__review {
	color: var(--color-light);
	font-weight: 300;
  font-size: 13px;
	display: block;
	text-align: center;
	width: 80%;
	margin: 0.8rem auto 0;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================ */

/* @media screen and (max-width: 1024px) {
    .container.testimonials__container {
        width: 60%;
    }

} */

/* ================ MEDIA QUERIES (SMALL DEVICES) ================ */

/* @media screen and (max-width: 600px) {
  
  } */
