.experience {
	margin: 0 auto;
}
.experience__container {
	display: flex;
	justify-content: center;
}

.experience__title {
	margin-bottom: 48px;
	text-align: center;
	color: var(--color-primary);
	font-size: 24px;
	font-weight: 500;
}

.experience__item {
	display: flex;
	flex-direction: column;
	background-color: var(--color-bg-variant);
	padding: 38px 80px;
	border-radius: 32px;
	border: 1px solid transparent;
	transition: background-color 0.4s, border-color 0.4s;
	align-items: center;
}

.experience__item:hover {
	background-color: transparent;
	border-color: var(--color-primary-variant);
}

.experience__content {
	width: 62%;
	gap: 32px 48px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.experience__item-title {
	font-weight: 500;
	font-size: 16px;
	color: var(--color-white);
}

.experience__item-icon {
	font-size: 52px;
	line-height: 1.4;
	color: var(--color-primary);
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================ */

@media screen and (max-width: 600px) {
	.experience__content {
		width: 95%;
	}
}

@media screen and (max-width: 400px) {
	.experience__content {
		width: 100%;
		gap: 24px 24px;
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	}

	.experience__item {
		padding: 24px;
		border-radius: 32px;
	}

	.experience__item-title {
		font-size: 14px;
	}

	.experience__item-icon {
		font-size: 48px;
		line-height: 1.3;
	}
}
