@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
	--color-bg: #1f1f38;
	--color-bg-variant: #2c2c6c;
	--color-primary: #4db5ff;
	--color-primary-variant: rgba(77, 181, 255, 0.4);
	--color-white: #fff;
	--color-light: rgba(255, 255, 255, 0.6);

	--container-width-lg: 75%;
	--container-width-md: 86%;
	--container-width-sm: 90%;
}

/* html {
	scroll-behavior: smooth;
} */

::-webkit-scrollbar {
	display: none;
}

body {
	font-family: "Montserrat", sans-serif;
	background: var(--color-bg);
	color: var(--color-white);
	line-height: 1.7;
	background-image: url("../src/assets/bg-texture.png");
  border: none;
	/* outline-offset: 6px; */
}

/* ================ GENERAL STYLES ================ */

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.container {
	max-width: 1366px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.section {
	margin-bottom: 20vh;
}

.button {
	width: max-content;
	display: inline-block;
	color: var(--color-primary);
	padding: 12px 20px;
	border-radius: 6px;
	cursor: pointer;
	border: 1px solid var(--color-primary);
	transition: background-color 0.4s, color 0.4s, border-color 0.4s;
}

.button--primary {
	background-color: var(--color-primary);
	color: var(--color-bg);
}

.button:hover {
	background-color: var(--color-white);
	color: var(--color-bg);
	border-color: transparent;
}

.button:active {
	background-color: var(--color-light);
	color: var(--color-bg);
	border-color: transparent;
	transition: none;
}

.link {
	color: var(--color-primary);
	transition: color 0.4s;
}

.link:hover {
	color: var(--color-white);
}

.image {
	display: block;
	width: 100%;
	object-fit: cover;
}
