.nav {
	background-color: rgba(0, 0, 0, 0.3);
	width: max-content;
	display: block;
	padding: 12px 28px;
	z-index: 2;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 32px;
	display: flex;
	gap: 12px;
	border-radius: 48px;
	backdrop-filter: blur(15px);
}

.nav__link {
	background-color: transparent;
	padding: 14px;
	border-radius: 50%;
	display: flex;
	color: var(--color-light);
	font-size: 1.1rem;
	transition: background-color 0.3s;
  cursor: pointer;
}

.nav__link:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.active {
	background-color: var(--color-primary);
	color: var(--color-bg);
}

.active:hover {
	background-color: var(--color-primary);
}

@media screen and (max-width: 374px) {
	.nav {
		padding: 9px 22px;
		gap: 8px;
	}

	.nav__link {
		padding: 12px;
	}
}
